* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

html, body, #root, #page-landing {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #FFF;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-landing h1 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 60px;
    padding: 20px 0;
}

#page-landing-content {
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
    width: 85vw;
    margin: 0 auto;
}